<spk-reusable-tables
  [columns]="CandidateHeader"
  tableClass="table text-nowrap"
  [showCheckbox]="false">

  @for (candidate of candidates; track $index) {
  <tr (click)="goToDetails(candidate.id)">
    <td>
      <div class="d-flex align-items-start gap-3">
        <div>
          <span class="fw-semibold d-block">
            {{ candidate.fullName || 'N/A' }}
          </span>
          <span>{{ candidate.jobTitle || 'N/A' }}</span>
          <span class="text-muted fs-13 d-block mb-1">
            {{ candidate.location || 'N/A' }}
          </span>

          <span class="badge bg-primary-transparent">
            Exp : {{ candidate.experienceYears || 0 }} years
          </span>
        </div>
      </div>
    </td>

    <td>{{ candidate.education || 'N/A' }}</td>

    <td>
      <div class="d-flex flex-wrap gap-1">
        @for (skill of candidate.skills || []; track $index) {
        <span class="badge bg-{{getSkillColor($index)}}-transparent">
            {{ skill }}
          </span>
        }
      </div>
    </td>

    <td>{{ candidate.jobType || 'N/A' }}</td>

    <td>{{ candidate.salaryRange || 'N/A' }}</td>

    <td>{{ candidate.availability || 'N/A' }}</td>

    <td class="text-center">
      <spk-dropdowns
        [Customclass]="'dropdown'"
        [Icon]="true"
        [IconClass]="'fe fe-more-vertical'"
        [class]="'btn btn-icon btn-sm btn-light border no-caret'"
        [Menuclass]="'dropdown-menu'">

        <li>
          <a class="dropdown-item" href="javascript:void(0);">
            View
          </a>
        </li>

        <li>
          <a class="dropdown-item" href="javascript:void(0);">
            Shortlist
          </a>
        </li>

      </spk-dropdowns>
    </td>
  </tr>
  }

</spk-reusable-tables>
