<app-breadcrumb title="Dashboards" sub_title="Projects" active_item="Dashboard"></app-breadcrumb>

<div class="row">
  <div class="col-xxl-9">
    <div class="row">
      @for(card of dashboardCards; track $index) {
      <div class="col-xl-3">
        <spk-project-card [project]="card"></spk-project-card>
      </div>
      }

      <div class="col-xl-12">
        <div class="card custom-card">
          <div class="card-header">
            <div class="card-title">Projects Overview</div>
          </div>
          <div class="card-body">
            <spk-apexcharts *ngIf="ProjectOptions" [chartOptions]="ProjectOptions"></spk-apexcharts>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xxl-3">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Task Activity</div>
      </div>
      <div class="card-body">
        <spk-apexcharts *ngIf="TaskOptions" [chartOptions]="TaskOptions"></spk-apexcharts>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-12">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Projects Summary</div>
      </div>

      <div class="card-body p-0">
        <div class="table-responsive">
          <spk-reusable-tables
            [columns]="ProjectsSummaryColumn"
            [showCheckbox]="true">

            @for(project of ProjectsSummary; track $index) {
            <tr>
              <td>
                <input class="form-check-input" type="checkbox">
              </td>
              <td>{{ project.name }}</td>
              <td>{{ project.startDate }}</td>
              <td>{{ project.endDate }}</td>
              <td>
                  <span class="badge bg-{{ project.progressColor }}-transparent">
                    {{ project.status }}
                  </span>
              </td>
              <td>
                <div class="progress progress-xs">
                  <div
                    class="progress-bar bg-{{ project.progressColor }}"
                    [style.width]="project.progress + '%'">
                  </div>
                </div>
              </td>
              <td>{{ project.amount }}</td>
              <td>
                <button class="btn btn-sm btn-primary-light">
                  <i class="ri-edit-line"></i>
                </button>
              </td>
            </tr>
            }

          </spk-reusable-tables>
        </div>
      </div>
    </div>
  </div>
</div>
