<app-breadcrumb title="Dashboards" [subtitle]='false' active_item="HRM"></app-breadcrumb>

<!-- Start:: row-1 -->
<div class="row">

  <div class="col-xxl-4 col-xl-6">
    <div class="row">

      <!-- HRM Cards -->
      <div class="col-xl-12">
        <div class="card custom-card overflow-hidden">
          <div class="card-body p-0">
            <div class="row g-0">
              @for (hrm of Hrmcards; track $index) {
              <div class="col-xl-6">
                <spk-hrm-card [hrm]="hrm"></spk-hrm-card>
              </div>
              }
            </div>
          </div>
        </div>
      </div>

      <!-- Employee Status -->
      <div class="col-xl-12">
        <div class="card custom-card">
          <div class="card-body">
            <h6 class="fw-semibold mb-3">Employees Status</h6>

            <div class="progress-stacked progress-xl mb-3">
              <div
                class="progress-bar"
                [style.width]="getProgressWidth(presentCount)"
                title="Present">
                Present
              </div>
              <div
                class="progress-bar bg-success"
                [style.width]="getProgressWidth(lateCount)"
                title="Late">
                Late
              </div>
              <div
                class="progress-bar bg-warning"
                [style.width]="getProgressWidth(permissionCount)"
                title="Permission">
                Permission
              </div>
              <div
                class="progress-bar bg-danger"
                [style.width]="getProgressWidth(absentCount)"
                title="Absent">
                Absent
              </div>
            </div>

            <div class="row gy-2">
              @for (attendance of AttendanceData; track $index) {
              <div class="col-xl-6">
                <div class="d-flex align-items-center gap-4 flex-wrap">
                  <div class="employee-status-marker {{ attendance.className }}">
                    {{ attendance.type }} :
                  </div>
                  <div class="fw-semibold">{{ attendance.count }}</div>
                </div>
              </div>
              }
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Candidate Statistics -->
  <div class="col-xxl-5 col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Candidate Statistics</div>
      </div>
      <div class="card-body p-0">
        <div class="row g-0 border-bottom border-block-end-dashed">
          <div class="col-xl-6 border-end">
            <div class="text-center p-3">
              <span class="d-block text-muted mb-1">Total Candidates Hired</span>
              <h5 class="fw-semibold mb-0">{{ Hrmcards?.[0]?.value }} - {{ Hrmcards?.[Hrmcards.length - 1]?.value }}</h5>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="text-center p-3">
              <span class="d-block text-muted mb-1">Total Responses</span>
              <h5 class="fw-semibold mb-0">{{AttendanceData.length}}</h5>
            </div>
          </div>
        </div>
        <div id="candidate-statistics" class="p-3">
          <spk-apexcharts [chartOptions]="CandidateOptions"></spk-apexcharts>
        </div>
      </div>
    </div>
  </div>

  <!-- Attendance Overview -->
  <div class="col-xxl-3">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Attendance Overview</div>
      </div>
      <div class="card-body">
        <div id="attendance-overview">
          <spk-apexcharts [chartOptions]="AttendanceOptions"></spk-apexcharts>
        </div>

        <ul class="list-unstyled my-4 hrm-attendance-overview-list">
          @for (attendance of AttendanceData; track $index) {
          <li>
            <div class="d-flex align-items-center justify-content-between gap-2">
              <div class="attendance-type {{ attendance.className }}">
                {{ attendance.type }}
              </div>
              <div class="fw-semibold">{{ attendance.count }}</div>
            </div>
          </li>
          }
        </ul>

        <div class="d-grid">
          <button class="btn btn-light btn-lg">
            View Complete Statistics
            <i class="ti ti-arrow-narrow-right ms-1"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- End:: row-1 -->
